body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    color: #d62828;
    margin-bottom: 10px;
}

.category-list {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    color: #b22222;
    width: 90px;
    height: 90px;
    padding: 4px;
    cursor: pointer;
    border: #ddd solid 1px;
    border-radius: 8px;
    text-decoration: none;
}

.category-item:hover {
    color: #d62828;
}

.category-item.active {
    border: #b22222 solid 1px;
}

.category-list::-webkit-scrollbar,
.flashsale-items::-webkit-scrollbar {
    display: none;
}

.category-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.flashsale-container {
    background: #fff;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.flashsale-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.flashsale-title {
    font-size: 24px;
    color: #d62828;
    margin-bottom: 10px;
}

.sort-bar {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.sort-item {
    padding: 6px 28px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #b22222;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sort-item:hover {
    color: #b22222;
}

.sort-item.active {
    background: #e63939;
    color: white;
    border-color: #e63939;
}

.flashsale-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.flashsale-card {
    flex: 0 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-wrapper {
    width: 200px;
    height: 160px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 3px;
    background: linear-gradient(#e63939, #ff7d7d);
    object-fit: cover;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}

.flashsale-name {
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: bold;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
}

.flashsale-timer {
    font-size: 13px;
    color: #fff;
    top: 0;
    right: 0;
    padding: 4px 10px;
    background-color: #e63939;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 0px 8px;
    position: absolute;
}

.price {
    padding-left: 12px;
    padding-top: 2px;
    margin-bottom: 0;
    font-weight: 600;
    color: #e63939;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 15px;
}

.before-discount {
    margin-top: -3px;
    padding-left: 12px;
    opacity: 0.8;
    font-size: 13px;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.card-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.restricted-btn {
    background: linear-gradient(90deg, #e63939, #ff7d7d);
    border: none;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 6px 24px;
    margin: 10px;
    margin-top: 4px;
    border-radius: 8px;
    font-size: 12px;
    cursor: default;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(230, 57, 57, 0.3);
}

.flashsale-rate {
    color: #ffb400;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: -3px;
    margin-bottom: 10px;
    padding-right: 12px;
}

.flashsale-stock {
    font-size: 13px;
    text-align: left;
    color: #e63939;
    font-weight: 700;
    top: 0;
    left: 0;
    padding: 4px 10px;
    margin-left: 3px;
    width: 80%;
    background-color: rgba(255, 255, 255);
    margin-top: 3px;
    border-radius: 8px 0px;
    position: absolute;
}

.restricted-btn:hover {
    color: white;
}

.estimate {
    font-size: 12px;
    color: #888;
    padding-left: 10px;
}

.flashsale-card:hover {
    box-shadow: 0 4px 10px rgba(197, 13, 13, 0.4);
    transform: translateY(-5px);
}

.category-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
