body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.category-container {
    box-shadow: 0 2px 5px #00000033;
    padding: 10px 20px;
    border-radius: 8px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.category-title {
    font-size: 18px;
    font-weight: bold;
    color: #d62828;
    margin-bottom: 10px;
}

.category-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 5px;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    color: #b22222;
    width: 90px;
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.flashsale-container {
    background: #fff;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.flashsale-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.flashsale-title {
    color: #d62828;
}

.flashsale-timer {
    font-size: 13px;
    color: #fff;
    top: 0;
    right: 0;
    padding: 4px 10px;
    background-color: #e63939;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 0px 8px;
    position: absolute;
}

.see-all {
    margin-left: auto;
    margin-right: 2px;
    text-decoration: none;
    color: #d62828;
    font-size: 15px;
}

.flashsale-items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 5px;
}

.flashsale-card {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    width: 170px;
    text-align: center;
}

.flashsale-card img {
    width: 170px;
    height: 170px;
    border-radius: 12px;
    padding: 3px;
    background: linear-gradient(#e63939, #ff7d7d);
    object-fit: cover;
}

.price {
    margin: 8px 0 5px;
    font-weight: 600;
    color: #e63939;
    letter-spacing: 0.3px;
}

.restricted-btn {
    background: linear-gradient(90deg, #e63939, #ff7d7d);
    border: none;
    color: white;
    font-weight: 400;
    padding: 6px 24px;
    border-radius: 8px;
    font-size: 12px;
    cursor: default;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(230, 57, 57, 0.3);
}

.flashsale-rate {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8px;
    background: rgba(213, 63, 36, 0.8);
    color: white;
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    backdrop-filter: blur(5px);
}

.flashsale-stock {
    font-size: 13px;
    text-align: left;
    color: #e63939;
    font-weight: 700;
    top: 0;
    left: 0;
    padding: 4px 10px;
    margin-left: 3px;
    width: 80%;
    background-color: rgba(255, 255, 255);
    margin-top: 3px;
    border-radius: 8px 0px;
    position: absolute;
}

.restricted-btn:hover {
    color: white;
}
