.form-control-custom {
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 16px;
    color: #555;
}

.back {
    font-size: 20px;
    color: #e63939;
}

.alert {
    width: 95%;
    max-width: 500px;
}

.profile-card {
    width: 95%;
    max-width: 500px;
    border-radius: 20px;
}

.form-control-custom:focus {
    background-color: #d6d6d6;
    box-shadow: none;
    outline: none;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    padding: 8px;
    padding-top: 2px;
    cursor: pointer;
    border: 3px solid white;
}

@media (max-width: 767px) {
    .back {
        font-size: 17px;
    }

    .form-control-custom {
        padding: 10px 17px;
        font-size: 13px;
    }
}
