.product-thumb {
    width: 48x;
    height: 48px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #eee;
}

.variant-thumb {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #eee;
}

.variant-list {
    margin-left: 52px;
}

.variant-row {
    margin-bottom: 4px;
}

.product-table td {
    vertical-align: top;
}

.pagination .page-link {
    color: #E63939 !important;
    border-color: #E63939 !important;
    border-radius: 8px;
    margin: 0 3px;
}

.pagination .page-link:hover {
    background-color: #E63939 !important;
    color: #ffffff !important;
    border-color: #E63939 !important;
}

.pagination .page-item.active .page-link {
    background-color: #E63939 !important;
    border-color: #E63939 !important;
    color: #ffffff !important;
}

.pagination .page-item.disabled .page-link {
    color: #f1a5a5 !important;
    border-color: #f1a5a5 !important;
}

.pagination .page-link {
    background: red !important;
    color: white !important;
}
