.product-thumb {
    width: 48x;
    height: 48px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #eee;
}

.variant-thumb {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #eee;
}

.flashsale-row {
    border-top: 0 !important;
    border-bottom: 1px solid #eee;
    padding-top: 6px;
    padding-bottom: 6px;
}

.variant-list {
    margin-left: 52px;
}

.variant-row {
    margin-bottom: 4px;
}

.product-table td {
    vertical-align: top;
}

.pagination .page-link {
    color: #e63939 !important;
    border-color: #e63939 !important;
    border-radius: 8px;
    margin: 0 3px;
}

.pagination .page-link:hover {
    background-color: #e63939 !important;
    color: #ffffff !important;
    border-color: #e63939 !important;
}

.pagination .page-item.active .page-link {
    background-color: #e63939 !important;
    border-color: #e63939 !important;
    color: #ffffff !important;
}

.pagination .page-item.disabled .page-link {
    color: #f1a5a5 !important;
    border-color: #f1a5a5 !important;
}

.pagination .page-link {
    background: red !important;
    color: white !important;
}

tr .btn {
    width: 80px;
}

@media (max-width: 767px) {
    th {
        font-size: 0.7rem;
    }

    td {
        font-size: 0.7rem;
    }

    tr .btn {
        font-size: 10px;
        width: 100%;
    }
}
